.services {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 2rem;
	padding: 1rem;
	margin-top: 1rem;
}

@media screen and (width <= 850px) {
	.services {
		gap: 1rem;
	}
}

@media screen and (width <= 780px) {
	.services {
		padding: 0rem;
		grid-template-columns: 1fr;
	}
}
