.card {
	display: flex;
	width: 100%;
}

.card__title {
	width: 50%;
	position: relative;
	text-align: center;
}

.card__text {
	width: 50%;
	padding: 0 2rem;
	margin: 0;
	color: var(--text-secondary);
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	text-wrap: balance;
}
.card__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__head {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;

	font-size: 1.5rem;
	text-transform: uppercase;
	color: var(--text-accent);

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0 2rem;

	background: rgba(0, 0, 0, 0.6);
}
