.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0 4rem;
	width: 100%;
	height: 4rem;
	border-bottom: 1px solid var(--color-divider);
	color: var(--text-accent);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.nav__list {
	display: flex;
	gap: 2rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav__logo {
	margin: 0;
	flex-grow: 1;
	width: 100%;
}

.nav__list a {
	color: inherit;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.5rem;

	transition: color var(--transition-time) ease;
}

.nav__title {
	margin: 0;
}
.nav__list a:hover {
	color: var(--text-secondary);
}

.nav__logo_green {
	color: var(--color-primary);
}

.nav__logo_blue {
	color: var(--color-accent);
}
.nav__logo_normal {
	font-weight: normal;
}
