.list {
	display: flex;
	gap: 40px;
	padding: 0;
	margin: 0;
}

.list p {
	margin: 0;
	padding: 0;
}
.list a {
	text-decoration: none;
	color: inherit;
}
.list a:hover {
	color: var(--text-secondary);
}

@media screen and (width <= 800px) {
	.list {
		gap: 20px;
	}
}

.main {
	max-width: 1600px;
	width: 100%;
	margin: auto;
}
