.header {
	height: 100vh;

	color: var(--text-accent);
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__greeting {
	text-align: center;

	width: clamp(300px, 70%, 800px);
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.title,
.subtitle {
	margin: 0;
	text-wrap: balance;
}

.title {
	font-size: 2rem;
	font-weight: bold;
}
.subtitle {
	font-size: 1.5rem;
	font-weight: normal;
}

.background {
	background-image: url("/background-1.webp");
	composes: background from "../../style/utils/background.css";
}
@media screen and (width <= 560px) {
	.header__greeting {
		width: 95%;
	}
	.title {
		font-size: 1.5rem;
	}
}
