@import "./fonts.css";
@import "./normalize.css";
@import "./utils/scale.css";
:root {
	--text-primary: #212121;
	--text-secondary: #3e3e3e;
	--text-accent: #ffffff;
	--text-icons: #212121;

	--color-primary: #3cc200;
	--color-accent: #448aff;
	--color-divider: #ebebeb;

	--color-background: #ffffff;

	--font-size: 16px;
	--font-family: "Pragmatica", sans-serif;

	--transition-time: 150ms;
}

html {
	width: 100%;
	height: 100%;
	font-size: var(--font-size);
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: var(--font-family);
	font-size: 1rem;
	line-height: 1.3;
}

* {
	box-sizing: border-box;
}

.topscroll-active {
	background-color: black;
}

.glide__slide--faded {
	opacity: 0.5;
}

@media screen and (width <= 1000px) {
	:root {
		--font-size: 14px;
	}
}
@media screen and (width <= 440px) {
	:root {
		--font-size: 12px;
	}
}
