.background {
	composes: background from "../../style/utils/background.css";
}

.cover {
	height: 80vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cover__text {
	color: var(--text-accent);
	font-size: 2rem;
	text-align: center;
	text-wrap: pretty;
	font-weight: bold;
	width: 70%;
}

@media screen and (width <= 620px) {
	.cover__text {
		font-size: 1.7rem;
		font-weight: normal;
	}
}
@media screen and (width <= 560px) {
	.cover__text {
		width: 90%;
	}
}
